html, body{ 
    margin: 0; 
    padding: 0;
    color: #ddf;
    background-color: #112;
    text-align: center;
    padding-top: 2vh;
  }
  
  #btn,
  #btn::before,
  #btn::after,
  #btn span,
  #btn span::before,
  #btn span::after
  {
    transition: all ease .5s;
  }
  
  #btn{
    position: relative;
    display: inline-block;
    padding: 0.3em;
    margin: 1em;
    border: solid 1px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    cursor: pointer;
  }
  
  #btn:hover
  {
    box-shadow: 0 0 5em .5em rgba(50,50,150,0.5);
  }
  
  #btn span
  {
    display: inline-block;
    width: 100%;
    padding: 0.6em 2em;
  }
  
  #btn:hover span
  {
    background-color: #fff;
    color: #112;
  }
  
  #btn::before,
  #btn::after,
  #btn span::before,
  #btn span::after
  {
    content: '';
    position: absolute;
    border: 1px;
  }
  
  #btn::before,
  #btn span::before
  {
    border-style: solid none;  
  }
  
  #btn::before,
  #btn span::after{      
    left: 0;
    top: -0.4em;
    width: 100%; 
    height: calc(100% + 0.8em);
  }
  
  #btn::after,
  #btn span::after
  {
    border-style: none solid;   
  }
  
  #btn::after,
  #btn span::before
  {
    top: 0;
    left: -0.4em;
    height: 100%;
    width: calc(100% + 0.8em); 
  }
  
  #btn:hover::after,
  #btn:hover span::after
  {
    transform: scaleY(0);
  }
  
  #btn:hover::before,
  #btn:hover span::before
  {
    transform: scaleX(0);
  }
  
  #btn:hover span::after,
  #btn:hover span::before
  {
    opacity: 0;
  }